.under-construction-overlay {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.under-construction-center-div {
  align-self: center;
  max-width: 85vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0px 5px 81px -9px rgba(160, 210, 235, 1);
}

.under-construction-h2 {
  text-align: center;
}

.under-construction-img-div {
  display: flex;
  justify-content: center;
}

.under-construction-img {
  max-width: 50%;
}

@media only screen and (min-width: 1000px) {
  .under-construction-img {
    max-width: 100%;
  }
}

.under-construction-message {
  text-align: center;
  font-weight: 600;
}

.under-construction-message p {
  color: var(--dark);
}

.under-construction-button-div {
  display: flex;
  justify-content: center;
}

.under-construction-button {
  padding: 0.75rem;
  background-color: #845bb3;
  color: var(--light);
  border: 1px solid var(--dark-body);
  border-radius: 1rem;
}

.under-construction-button:hover {
  background-color: #a0d2eb;
  color: var(--dark);
  border: 1px solid #4caedf;
}
