header {
  text-align: center;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}

.h1-subheader {
  font-size: 1.5rem;
  background-color: rgb(250, 250, 250);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 0.3rem solid black;
  padding: 0.4rem;
}

.content-tabs {
  padding: 1rem;
}

@media only screen and (min-width: 800px) {
  .content-tabs {
    padding: 2.5rem;
  }
}

.comic-box {
  min-height: 15rem;
  max-width: 90rem;
  min-width: 23rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  position: relative;
  overflow: visible;
  background-color: rgb(250, 250, 250);
  border: 0.5rem solid black;
  box-shadow: 15px 5px 52px -9px rgba(76, 174, 223, 1);
  padding-top: 1rem;
  padding-left: 1rem;
}

.left-right {
  padding-right: 1rem;
  padding-bottom: 17rem;
}

@media only screen and (min-width: 800px) {
  .left-right {
    display: flex;
    justify-content: space-between;
    padding-right: 20rem;
    padding-bottom: 0;
  }
}

.comic-box:hover {
  box-shadow: 0px 0px 70px 0px rgb(174 10 233);
}

.comic-me {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 17rem;
}

@media only screen and (min-width: 800px) {
  .comic-me {
    height: 20rem;
    width: auto;
  }
}

h2 {
  font-size: 3rem;
}

@media only screen and (min-width: 700px) {
  h2 {
    font-size: 4rem;
  }
}

.write-up {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 700px) {
  .write-up {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
}

.comic-word {
  position: absolute;
  top: -3rem;
  right: -3rem;
  height: 7rem;
  width: auto;
}

@media only screen and (min-width: 600px) {
  .comic-word {
    top: -3rem;
    right: -3rem;
    height: 12rem;
  }
}

@media only screen and (min-width: 800px) {
  .comic-word {
    top: -4rem;
    right: -4rem;
    height: 17rem;
  }
}

.skills-box {
  padding-right: 27%;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  gap: 0.5rem;
}

@media only screen and (min-width: 800px) {
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

.decreased-padding {
  padding-right: 1rem;
}

.resume-ul {
  padding-left: 1rem;
  list-style: inside;
}

.added-margin-border {
  border-bottom: black 6px dotted;
  margin-bottom: 1rem;
}

.content-tab-right {
  color: var(--light-body);
  background-color: transparent;
  font-size: 2rem;
  font-weight: 800;
  box-shadow: 15px 5px 52px -9px rgba(66, 68, 90, 1);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
}

.content-tab-right:hover {
  color: var(--dark-body);
  background-color: var(--dark);
  box-shadow: 15px 5px 52px -9px rgba(76, 174, 223, 1);
}

.content-tab-right:active {
  background-color: var(--light-mainheaders);
}

.content-tab-left {
  color: var(--light-body);
  background-color: transparent;
  font-size: 2rem;
  font-weight: 800;
  box-shadow: -15px 5px 52px -9px rgba(66, 68, 90, 1);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
}

.content-tab-left:hover {
  color: var(--dark-body);
  background-color: var(--dark);
  box-shadow: 15px 5px 52px -9px rgba(76, 174, 223, 1);
}

.content-tab-left:active {
  background-color: var(--light-mainheaders);
}

@media (prefers-color-scheme: dark) {
  .content-tab-left {
    color: var(--dark-body);
  }

  .content-tab-left:hover {
    color: var(--light-body);
    background-color: #a0d2eb;
  }

  .content-tab-left:active {
    background-color: #4caedf;
  }
}
