@font-face {
  /* type = serif */
  font-family: "PlayfairDisplay";
  src: url(./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  /* type = san-serif */
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  /* --light-cold: #a0d2eb;
  --dark-cold: #4caedf;
  --light: #e5eaf5;
  --medium-purple: #d0bdf4;
  --purple-pain: #845bb3;
  --dark: #494d5f; */
  --light-mainheaders: #1a3163;
  --light-subheaders: #365493;
  --light-body: #474b5d;
  --light: #e5eaf5;
  --dark-mainheaders: #525bff;
  --dark-subheaders: #4f43b9;
  --dark-body: #b4abdd;
  --dark: #1f1f2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
  }
}

h1 {
  font-family: "PlayfairDisplay", serif;
  color: var(--light-mainheaders);
}

@media (prefers-color-scheme: dark) {
  h1 {
    color: var(--dark-mainheaders);
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--light-subheaders);
  font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-subheaders);
  }
}

p {
  font-family: "Montserrat", sans-serif;
  color: var(--light-body);
}

@media (prefers-color-scheme: dark) {
  p {
    color: var(--dark-body);
  }
}
