@font-face {
  /* type = display */
  font-family: "Bangers";
  src: url(./assets/fonts/Bangers-Regular.ttf) format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  /* type = san-serif */
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --outlier: #852f94;
  --light-mainheaders: #1a3163;
  --light-subheaders: #365493;
  --light-body: #474b5d;
  --light: #e5eaf5;
  --dark-mainheaders: #525bff;
  --dark-subheaders: #4f43b9;
  --dark-body: #b4abdd;
  --dark: #1f1f2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bangers", cursive;
  color: black;
}

body {
  background-image: url(./assets/images/portfolio-background-image.webp);
  background-size: cover;
  background-repeat: repeat;
  background-position-x: center;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--light-subheaders);
}

p,
span {
  color: black;
}
