@font-face {
  /* type = serif */
  font-family: "PlayfairDisplay";
  src: url(./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  /* type = san-serif */
  font-family: "NotoSans";
  src: url(./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf)
    format("truetype"); 
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  /* type = san-serif */
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
