@font-face {
  /* type = serif */
  font-family: "PlayfairDisplay";
  src: url(./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  /* type = san-serif */
  font-family: "NotoSans";
  src: url(./assets/fonts/NotoSans-VariableFont_wdth\wght.ttf)
    format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  /* type = san-serif */
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --light-cold: #a0d2eb;
  --dark-cold: #4caedf;
  --light: #e5eaf5;
  --medium-purple: #d0bdf4;
  --purple-pain: #845bb3;
  --dark: #494d5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
  }
}

h1 {
  background-color: var(--light-cold);
  font-family: "PlayfairDisplay", serif;
  color: var(--dark);
}

@media (prefers-color-scheme: dark) {
  h1 {
    background-color: var(--dark-cold);
    color: var(--light);
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--purple-pain);
  font-family: "Montserrat", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--medium-purple);
  }
}

p {
  font-family: "Montserrat", sans-serif;
  color: var(--dark);
}

@media (prefers-color-scheme: dark) {
  p {
    color: var(--light);
  }
}
